<section class="cities-sec">
  <h3>Weather Forecast</h3>
  <div class="wrapper" *ngIf="groupWeatherNow">
    <div *ngFor="let city of groupWeatherNow.list" (click)="getForecast(city.id)">
      <img src="assets/images/{{city.name}}.jpg" alt="" width="100%">
      <div>
        <p class="avg-temp">{{city.main.temp}}&#8451;</p>
        <p class="wind">wind: {{city.wind.speed}} m/h</p>
        <p class="time">{{city.dt*1000 | date:'HH:mm'}}</p>
        <p class="name">{{city.name}}</p>
      </div>
    </div>
  </div>
</section>

<section class="more-detail" *ngIf="forecast">
  <h3 >{{forecast.city.name}}</h3>
  <div class="loader" *ngIf="loading">
    Loading ...
  </div>
  <div class="wrapper" > 
    <div *ngFor="let forecast of forecast.list">
      <div class="icon">
        <img src="https://openweathermap.org/img/wn/{{forecast.weather[0].icon}}@2x.png" alt="{{forecast.weather.main}}"
          width="50px">
      </div>
      <p class="temp">{{forecast.main.temp}}&#8451;</p>
      <p class="date">{{forecast.dt*1000 | date:'MMM dd'}}</p>
      <p class="date">{{forecast.dt*1000 | date:'HH:mm'}}</p>

    </div>
  </div>
</section>

<section class="graph-sec" id="chartContainer">

</section>
