h3 {
  padding: 5px 10px;
  border-bottom: 1px solid #FFAB92;
  margin: 10px 0;
}

div {
  /* Track */
  &::-webkit-scrollbar-track {
    box-shadow: none;
  }
}

.cities-sec {

  h3 {
    font-size: 1.5em;
    width: 100%;
    margin-bottom: 30px;
  }

  >div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    margin: 0 0 30px 0;
    padding: 20px 10px;

    >div {
      background: white;
      width: 19%;
      max-width: 100%;
      min-width: 200px;
      min-height: 150px;
      display: inline-table;
      margin: 0 10px 20px 0;
      padding: 10px;
      border-radius: 10px;
      box-shadow: 10px 10px 10px #77777798;
      cursor: pointer;
      position: relative;

      @media screen and (max-width: 550px) {
        width: 100%;
      }

      >img {
        border-radius: 10px;
        min-height: 50px;
        box-shadow: 0 10px 10px #77777798;
      }

      >div {
        animation: show 3s linear 1;
        padding: 20px;

        @keyframes show {
          0% {
            margin-top: -90px;
            color: white;
          }

          70% {
            margin-top: -90px;

          }

          90% {
            margin-top: 0px;
            color: white;
          }
        }

        .avg-temp {
          font-size: 40px;
        }

        .time {
          background: #ede9d09d;
          display: inline-block;
          position: absolute;
          bottom: 0;
          right: 0;
          border-radius: 10px 0 10px;
          padding: 5px 10px;
        }

        .name {
          background: #ffffff9a;
          display: inline-block;
          position: absolute;
          min-height: 28px;
          top: 10px;
          left: 10px;
          padding: 5px 10px;
          border-radius: 10px 0 10px 10px;
          width: 70%;
          box-shadow: 0 5px 5px #00000069;
          font-weight: 700;
          animation: show 4s linear 1;
        }
      }

      &:hover {
        box-shadow: 0 0 20px #00bec193;
        z-index: 20;
        >img {
          transform: scale(1.2);

        }
        >div{
            .name{
          border-radius: 10px;
        }
        }
      }
    }
  }


}

.more-detail {
  background: url('/assets/images/clouds.jpg') #00BEC1;
  background-attachment: fixed;
  padding: 10px 10px 30px 10px;
  border-radius: 10px;
  position: relative;
  background-size: cover;
  color: white;
  min-height: 200px;

  .loader {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000b4;
    padding: 30px;
    border-radius: 10px;
  }

  >div {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;

    >div {
      background: #b6b6b646;
      display: inline-block;
      width: 80px;
      margin: 20px 10px 20px 0;
      padding: 20px 0 20px 0;
      text-align: center;
      border-radius: 10px;
      font-weight: 900;
      box-shadow: 0 0 10px #00000086;

      .icon {
        width: 100%;
        height: 60px;
        border: 5px solid #ffffff86;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
      }

      .temp {
        background: #00BEC1;
        margin: 10px 5px;
        padding: 10px 5px;
        border-radius: 5px;
      }
      .date{
        font-weight: 100;
      }
    }
  }


}

.graph-sec {
  background: white;
  min-height: 300px;
  margin: 10px 0;
  border-radius: 10px;
  overflow: hidden;
  padding: 10px 0 0 0;
  text-align: left;
}
