<section class="home-container">
  <div class="sidenav">
    <img src="../assets/images/weathertransparent.png" alt="weather" width="100%">
    <h2>Weather</h2>
    <ul>
      <li [routerLink]="['/dashboard']" routerLinkActive="router-link-active" >Dashboard</li>
    </ul>
  </div>
  <div class="content-sec">
    <router-outlet></router-outlet>
  </div>
</section>
