.home-container {
  padding: 20px;
  position: relative;
  min-height: 100vh;

  &::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    min-height: 100%;
    background: #f0f0f0;
    z-index: -1;
    border-radius: 0 30px 30px 0;
  }


  .sidenav {
    position: absolute;
    width: 200px;
    top: 10px;
    background: #00BEC1;
    min-height: calc(100% - 20px);
    border-radius: 20px;
    z-index: 300;

    >img {
      width: 60px;
      max-width: 100%;
    }

    h2 {
      display: inline-block;
      border-radius: 20px 0 0 0;
      padding: 10px 0;
    }

    ul {

      li {
        padding: 15px 20px;
        margin: 0 10px 0 0;
        border-radius: 0 10px 10px 0;
        position: relative;
        cursor: pointer;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          height: 100%;
          width: 6px;
          background: #EDE9D0;
          top: 0px;
          border-radius: 0 10px 10px 0;
          transition: all 0.5s ease-in-out;
        }

        &:hover {
          transition-delay: 0.5s;
          background: #EDE9D0;

          &::before {
            left: 100%;
            background: #00BEC1;
            z-index: 200;
          }
        }
      }
    }
  }

  .content-sec {
    width: calc(100% - 240px);
    background: #f0f0f0;
    padding: 10px;
    position: absolute;
    left: 220px;
    top: 20px;
    height: calc(100% - 40px);
    border-radius: 10px 20px 20px 10px;
    overflow: auto;
  }

  .router-link-active {
    background: #bf362c34;
  }

  @media screen and (max-width:730px) {
    padding: 10px;

    .sidenav {
      position: absolute;
      width: 20px;
      overflow: hidden;
      height: calc(100% - 20px);

      &:hover {
        width: 200px;
      }
    }

    .content-sec {
      left: 30px;
      top: 10px;
      width: calc(100% - 40px);
      height: calc(100% - 20px);
    }
  }
}
