/**
* Colors
maroon - #BF372C;
light-bue - #57BABC
lighter blue - #BFFCFC
grey blue - #458081
*/
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

li {
  list-style-type: none;

}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;

  &:hover {
    width: 10px;
    height: 10px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #BF372C8c;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #bf362c;
}
